.catalog{
    background-color: rgba(158, 247, 217, 0.397);
}
h1{
    background: radial-gradient(closest-side, rgb(55, 147, 187), rgb(113, 178, 231), rgb(158, 247, 217, 0.397));
    color: rgb(210, 252, 248);
    max-width: fit-content;
    padding: 40px 45px;
    margin-left:15%;
    margin-right: 15%;
    border-radius: 45%;

    
}
h6{

    color: rgb(23, 230, 58)
}